.navbar {
    padding: 1rem 1rem !important;
}

.header-information {
	height: 100px;
	color: #bfbfbf;
}

.logo-margin {
	margin-top: -10px;
}

.icon-circle {
	width: 40px;
	height: 40px;
	border: 2px solid #bfbfbf;
	border-radius: 50%;
	text-align: center;
	padding-top: 5px;
	display: inline-block;
}

.navbar-blue {
	background: #162648;
}

.text-black {
	color: black;
}

.text-light-blue {
	color: #44c1ed;
}

.font-bold {
	font-weight: 500 !important;
}
.user-request-notification {
	color: red;
	width: 100%;
	margin: auto;
	padding: 5px;
	text-align: center;
	font-weight: bold;
}
.price-higlight{
	color: blue;
	font-weight: bold;
}

.chat-box {
	height: 250px;
	overflow-y: auto;
	overflow-x: none;
}

/* Scrollbar styles */
::-webkit-scrollbar {
width: 12px;
height: 12px;
}

::-webkit-scrollbar-track {
border: 1px solid yellowgreen;
border-radius: 10px;
}

::-webkit-scrollbar-thumb {
background: #5bc0de;  
border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
background: #428bca;  
}
/* END Scrollbar styles */